<li>
  <h2><%= store.title %></h2>
  <div>
    <%= link_to 'Show', store_path(store) %>
    <%= link_to 'Edit', edit_store_path(store) %>
    <%= link_to 'Delete', store_path(store),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
</li>