body {
  background-color: #eceaa5;
}
.wrapper {
  text-align: center;
}
h1 {
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
td, a, label, input, p, .button {
  font: 400 20px "Times New Roman";
}
input, textarea {
  display: block;
  width: 500px;
  margin: 5px auto;
}
textarea {
  height: 200px;
}
h2, .article-title {
  font: 700 26px "Times New Roman";
}
a, .button {
  display: inline-block;
  min-width: 80px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px auto;
  color: #3c4fff;
  background: none;
  border: 1px solid #3c4fff;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    color: #fff;
    background-color: #3c4fff;
    transition: all 0.6s;
  }
}
.button {
  min-width: 90px;
}

table {
  width: 100%;
  tbody {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    tr {
      display: flex;
      flex-direction: column;
      border-radius: 20px;
      padding: 5px;
      margin: 10px;
      width: 24%;
    }
    .article-content {
      margin: 10px 0 20px;
    }
  }
}

.flex-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  p {
    display: flex;
  }
}